@charset"UTF-8";

body{
    background-color: #ff0000;
}

h1{
    font-size: 1.75em;
    color:#008000;
}
h2{
    font-size: 1.25em;
    color:#008080;
}
p{
    font-size: 0.8em;
    color:#008000;
}
li{
    font-size: 0.8em;
    color:#008080;
}
